.main input[type="search"] {
	width: 45px; /*ancho por defecto*/
	background: #ededed url("search-icon.png") no-repeat 9px center; /*icono lupa*/
	padding: 9px 10px 9px 32px;
	border-radius: 15em;
	-webkit-transition: all 0.5s; /* transición de .5seg a todos los elementos para chrome*/
	-moz-transition: all 0.5s; /* transición de .5seg a todos los elementos para mozilla*/
	-o-transition: all 0.5s; /* transición de .5seg a todos los elementos para ophera*/
	transition: all 0.5s; /* transición de .5seg a todos los elementos*/
	outline: none; /* ocultar el fucos automático de los input */
}
.main input[type="search"]:focus {
	width: 130px; /*tamaño del boton buscar al hacer click*/
	padding-left: 32px; /*espacio entre el icono lupa y el placeholder*/
	color: #000;
	background-color: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f5f6fa;
	font-family: "Montserrat", sans-serif;
}

header {
	width: 100%;
	display: flex;
	padding: 20px 0;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	font-size: 24px;
	line-height: 24px;
	font-weight: 600;
	color: #393a58;
	display: inline-block;
}

.btn {
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	border: none;
	color: #fff;
	background: #54b53d;
	cursor: pointer;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
	border-radius: 100px;
}

header button.active {
	display: inline-block;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}

.formulario {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	transition: 0.3s ease all;
}

.formulario input {
	height: 40px;
	line-height: 40px;
	width: 100%;
	text-align: center;
	border: none;
	margin: 0 px;
}
.formulario .btn {
	background: #3498db;
	height: 40px;
	line-height: 40px;
	border-radius: 0;
}

.error_box {
	background: #c40018;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	font-size: 12px;
	line-height: 12px;
	display: none;
}

.error_box.active {
	display: block;
}

table {
	width: 100%;
	background: #fff;
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 80px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}

td,
th {
	border-bottom: 1px solid #e9e9e9;
	padding: 20px;
}

th {
	color: #393a58;
	font-size: 16px;
}

td {
	font-size: 14px;
}

.loader {
	margin: auto;
	display: none;
	border: 5px solid #f3f3f3; /* Light grey */
	border-top: 5px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 30px;
	height: 30px;
	animation: spin 2s linear infinite;
}

.loader.active {
	display: block;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
